<div class="modal">
    <div class="container">
        <button id="closeBtn"><i class="fa-solid fa-xmark"></i></button>

        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>
                
                <form action="#">
    
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" required>
                        <i class="fa-solid fa-envelope"></i>
                    </div>
    
                    <div class="input-field">
                        <input type="text" placeholder="Enter your password" required>
                        <i class="fa-sharp fa-solid fa-lock"></i>
                    </div>

                    <!-- ------ -->

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember Me</label>
                        </div>

                        <a href="#" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                        <input type="button" value="Login Now">
                    </div>
    
                </form>

                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="#" class="text signup-link">Signup Now</a>
                    </span>
                </div>


            </div>

            <!-- ============================ -->

            <div class="form signup">
                <span class="title">Registration</span>
                
                <form action="#">
    
                    <div class="input-field">
                        <input type="text" placeholder="Enter your name" required>
                        <i class="fa-solid fa-user-secret"></i>
                    </div>
    
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" required>
                        <i class="fa-solid fa-envelope"></i>
                    </div>

                    <div class="input-field">
                        <input type="text" placeholder="Create a password" required>
                        <i class="fa-sharp fa-solid fa-lock"></i>
                    </div>

                    <div class="input-field">
                        <input type="text" placeholder="Confirm a password" required>
                        <i class="fa-sharp fa-solid fa-lock"></i>
                    </div>

                    <!-- ------ -->

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="sigCheck">
                            <label for="sigCheck" class="text">Remember Me</label>
                        </div>

                        <a href="#" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                        <input type="button" value="Login Now">
                    </div>
    
                </form>

                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="#" class="text login-link">Signup Now</a>
                    </span>
                </div>


            </div>
        </div>
    </div>
</div>